# Single Validation

Validate a single simulation:
1. Correctly correlating MT growth state to grid size change
2. MT growth rate does not exceed `vp`
3. Grid size change occurs only in +/- 1 grids
4. Grid DNE blocks exist only in a single uninterrupted sequence

In [1]:
# imports
from pathlib import Path

import matplotlib.pyplot as plt

from simulation import Simulation


# set plotting style
plt.style.use(["default", "biophysics.mplstyle"])

In [2]:
# import simulation data to the Simulation class
data_file = Path("data/tests/simulation.mat")
sim = Simulation(data_file)

In [3]:
sim.get_trimmed_grid_at(200)

array([2, 1, 1, 2, 2, 1, 2, 2, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3,
       2, 1, 2, 3, 1, 2, 2, 2, 1, 1, 2, 1, 2, 1, 2, 2, 2, 1, 2, 1, 1, 1,
       1, 2, 2, 1, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 1, 2,
       1, 1, 1, 2, 2, 1, 2, 2, 2, 1, 2, 2, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2], dtype=uint8)

In [4]:
sim.get_sequence_at(200)

Start protein: 2, index: 0

[Sequence of 1 tau starting at 0,
 Sequence of 2 empty starting at 1,
 Sequence of 2 tau starting at 3,
 Sequence of 1 empty starting at 5,
 Sequence of 3 tau starting at 6,
 Sequence of 2 empty starting at 9,
 Sequence of 1 tau starting at 11,
 Sequence of 9 empty starting at 12,
 Sequence of 1 map6 starting at 21,
 Sequence of 1 tau starting at 22,
 Sequence of 1 empty starting at 23,
 Sequence of 1 tau starting at 24,
 Sequence of 1 map6 starting at 25,
 Sequence of 1 empty starting at 26,
 Sequence of 3 tau starting at 27,
 Sequence of 2 empty starting at 30,
 Sequence of 1 tau starting at 32,
 Sequence of 1 empty starting at 33,
 Sequence of 1 tau starting at 34,
 Sequence of 1 empty starting at 35,
 Sequence of 3 tau starting at 36,
 Sequence of 1 empty starting at 39,
 Sequence of 1 tau starting at 40,
 Sequence of 4 empty starting at 41,
 Sequence of 2 tau starting at 45,
 Sequence of 1 empty starting at 47,
 Sequence of 2 tau starting at 48,
 Sequence of 1 empty starting at 50,
 Sequence of 7 tau starting at 51,
 Sequence of 1 empty starting at 58,
 Sequence of 5 tau starting at 59,
 Sequence of 1 empty starting at 64,
 Sequence of 1 tau starting at 65,
 Sequence of 3 empty starting at 66,
 Sequence of 2 tau starting at 69,
 Sequence of 1 empty starting at 71,
 Sequence of 3 tau starting at 72,
 Sequence of 1 empty starting at 75,
 Sequence of 2 tau starting at 76,
 Sequence of 2 empty starting at 78,
 Sequence of 26 tau starting at 80]

In [5]:
sim.get_protein_plot_points_at(50)

Start protein: 1, index: 0

     type  domain_start_pos  protein_draw_pos
0       1             0.000             0.018
1       1             0.036             0.054
2       1             0.072             0.090
3       1             0.108             0.126
4       3             0.144             0.162
..    ...               ...               ...
900     2            32.400            32.418
901     2            32.436            32.454
902     2            32.472            32.490
903     2            32.508            32.526
904     2            32.544            32.562

[905 rows x 3 columns]

In [6]:
sim.get_length_units_at(999)

905